footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}
